@import 'components/variables';
@import 'components/mixins';
@import 'components/header';
@import 'components/home';
@import 'components/footer';
@import 'components/about-us';
@import 'components/service.scss';
@import 'components/contact.scss';
@import 'components/appointment.scss';
@import 'components/feedback.scss';
@import 'components/consult.scss';
@import 'components/service-detail.scss';
@import 'components/detail.scss';