header {
    .top-bar {
      .navbar-top {
          .navbar-brand {
              img {
                  height: 50px;
              }
          }
          .navbar-nav {
              li {
                  &.dropdown {
                      span {
                          img {
                            height: 30px;
                            border-radius: 50%;
                            margin-right: 10px;
                            width: 30px;
                          }
                      }
                      a {
                          font-weight: 500;
                          color: $dark;
                      }
                  }
              }
          }
      }
    }
    .middle-bar {
        background: $prim;
		.navbar  {
			padding: 0;
		}
        .navbar-nav {
            li {
                .nav-link {
					display: inline-block;
                	padding:10px;
                    color: $white;
                    font-family: $nunito;
                    &:hover {
                        text-decoration: none;
						background: $black;
                    }
                }
            }
        }
    }
}