footer {
	.footer-top {
		padding: 15px 0;
    	background: $primary;
		h3 {
			margin: 0;
			color: $white;
		}
		.foob-contact {
			text-align: center;
			a {
				color: $white;
				border: 1px solid $white;
				border-radius: 20px;
				display: inline-block;
    			padding: 5px 20px;
    			font-weight: 500;
				&:hover {
					background: $white;
					color: $primary;
					text-decoration: none;
				}
			}
		}
	}
	.footer-middle {
		background: $whitish2;
		padding: 2em 0;
		.foo-one {
			img {
				margin-bottom: 10px;
			}
			.foo-social {
				ul {
					margin: 0;
					padding: 0;
					list-style: none;
					li {
						display: inline-block;
						a {
							border: 1px solid $primary;
    						border-radius: 100%;
    						height: 30px;
    						display: inline-block;
    						width: 30px;
    						text-align: center;
    						color: $primary-d;
    						line-height: 28px;
    						font-size: 13px;
							&:hover {
								color: $white;
								background: $primary-l;
							}
						}
					}
				}
			}
		}
		.foo-links {
			h3 {
				font-size: 1.3em;
    			margin-bottom: 1em;
				position: relative;
				&:after {
					content: ' ';
    				display: block;
    				width: 30px;
    				color: $primary;
    				height: 3px;
    				margin: 7px 0;
    				background: $primary;
				}
			}
			ul {
				padding: 0;
				margin: 0;
				list-style: none;
				li {
					margin-bottom: 5px;
					a {
						color: $dark;
						font-size: 1em;
						i {
							font-size: 80%;
						}
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
	}
	.footer-bottom {
		background: $whitish;
		p {
			text-align: center;
			margin: 0;
			padding: 10px;
			a {
				color: $black;
			}
		}
	}
}