$white:#fff;
$black:#000;
$dark:#333;
$grey-d:#666;
$primary:#578d8d;
$primary-d:#4e7e80;
$primary-l:#73b8b8;
$grey-l:#A4A6A8;

$whitish: #f4f4f4;
$whitish2: #f5f4f0;
$whity: #F6F6F6;
$gredish:#646464;
$grey:#787878;


/**Fonts**/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
$Poppins:'Poppins', sans-serif;
$Roboto:'Roboto', sans-serif;
$Nunito:'Nunito', sans-serif;
$Playball:'Playball', cursive;